In [11]:
## Clean and summary statistics
import pandas as pd


# Getting the library
dataset= pd.read_csv("QueryResults.csv", names=["Date", "Tag", "Post"])

# Removing the missing values
dataset = dataset.dropna()


# Just Extra stuff
dataset.head()      ## Looking at the first few lines
dataset.tail()      ## Looking at the last few line s
dataset.columns
dataset.shape
dataset.count()

Date    1991
Tag     1991
Post    1991
dtype: int64

In [24]:
#Which languaghe has  the most number of posts since the creation of stack overflow ?
dataset.groupby("Tag")[["Post"]].sum()


#Can we count how many months of post exist for each programming language?
dataset.groupby("Tag")[["Date", "Post"]].count()

            Date  Post
Tag
assembly     144   144
c            144   144
c#           145   145
c++          144   144
delphi       144   144
go           129   129
java         144   144
javascript   144   144
perl         144   144
php          144   144
python       144   144
r            142   142
ruby         144   144
swift        135   135

In [33]:
# # Selecting individual cells
# dataset["Date"]
#
# # Changing how we see the data
# type(dataset["Date"][1])    ## Tells you  that its a string
dataset["Date"] =pd.to_datetime(dataset["Date"])
dataset.head()

        Date         Tag   Post
1 2008-07-01          c#    3.0
2 2008-08-01    assembly    8.0
3 2008-08-01  javascript  162.0
4 2008-08-01           c   85.0
5 2008-08-01      python  124.0