In [2]:
import pandas as pd
dt= pd.read_csv("Dataset_salaries_by_college_major.csv")
dt.head()
dt.shape
dt.columns
dt.isna()
dt.tail()
clean_dt= dt.dropna()
clean_dt.tail()
clean_dt["Starting Median Salary"]
clean_dt["Starting Median Salary"].max()
value = clean_dt["Starting Median Salary"].idxmax()


max_starting_salary = clean_dt["Starting Median Salary"][value]
print(max_starting_salary)

# entire row to get the location value
clean_dt.loc[value]

74300.0

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [ ]:
# Questions
## Now that we've found the major with the highest starting salary, can you write the code to find the following:

 ### What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

### Which college major has the lowest starting salary and how much do graduates earn after university?

### Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [3]:
### Question 1
max_mid_career_salary = clean_dt["Mid-Career Median Salary"].max()
row_value = clean_dt[clean_dt['Mid-Career Median Salary']== max_mid_career_salary]
row_value["Undergraduate Major"]


### Question 2
lowest_starting_salary= clean_dt['Starting Median Salary'].min()
row_value =clean_dt[clean_dt["Starting Median Salary"]==lowest_starting_salary]

row_value["Undergraduate Major"]

###  Question 3:
min_mid_career_salary = clean_dt["Mid-Career Median Salary"].min()
row_value = clean_dt[clean_dt['Mid-Career Median Salary']== min_mid_career_salary]
major = row_value["Undergraduate Major"]
print(f" Lowest Paying undergraduate Major:{major}")
print(f" Lowest Paying undergraduate Major salary:{min_mid_career_salary}")

 Lowest Paying undergraduate Major:18    Education
47     Religion
Name: Undergraduate Major, dtype: object
 Lowest Paying undergraduate Major salary:52000.0

In [10]:
### Caluclate the difference between differnt values. E.g. How would we calculate the difference between the earnings of the 10th a 90th percentile?


spread_col = clean_dt["Mid-Career 90th Percentile Salary"]- clean_dt["Mid-Career 10th Percentile Salary"]
clean_dt.insert(1, "Spread", spread_col)
print(clean_dt.head())

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [17]:
# Sorting the Spread column
### Low risk sectors are the ones where there is low spread
low_risk =clean_dt.sort_values("Spread")
low_risk[["Undergraduate Major" , "Spread"]]

                     Undergraduate Major    Spread
40                               Nursing   50700.0
43                   Physician Assistant   57600.0
41                             Nutrition   65300.0
49                               Spanish   65400.0
27            Health Care Administration   66400.0
47                              Religion   66700.0
23                              Forestry   70000.0
32                       Interior Design   71300.0
18                             Education   72700.0
15                      Criminal Justice   74800.0
26                        Graphic Design   76000.0
31           Information Technology (IT)   84500.0
10                     Civil Engineering   84600.0
4                           Architecture   85400.0
48                             Sociology   87300.0
29                 Hospitality & Tourism   88500.0
24                             Geography   92000.0
46                            Psychology   95400.0
12                  Computer Engineering   95900.0
5                            Art History   96200.0
1                  Aerospace Engineering   96700.0
13                      Computer Science   98000.0
6                                Biology   98100.0
19                Electrical Engineering   98700.0
38                Mechanical Engineering   99300.0
20                               English   99600.0
35  Management Information Systems (MIS)  100700.0
21                                  Film  102100.0
9                              Chemistry  102700.0
3                           Anthropology  104200.0
11                        Communications  105500.0
34                            Journalism  106600.0
39                                 Music  107300.0
7                    Business Management  108200.0
0                             Accounting  109800.0
25                               Geology  111000.0
28                               History  112000.0
2                            Agriculture  113700.0
14                          Construction  114700.0
30                Industrial Engineering  115900.0
16                                 Drama  116300.0
33               International Relations  118800.0
44                               Physics  122000.0
8                   Chemical Engineering  122100.0
45                     Political Science  126800.0
42                            Philosophy  132500.0
36                             Marketing  132900.0
37                                  Math  137800.0
22                               Finance  147800.0
17                             Economics  159400.0