In [2]:
import pandas as pd
dt= pd.read_csv("Dataset_salaries_by_college_major.csv")
dt.head()
dt.shape
dt.columns
dt.isna()
dt.tail()
clean_dt= dt.dropna()
clean_dt.tail()
clean_dt["Starting Median Salary"]
clean_dt["Starting Median Salary"].max()
value = clean_dt["Starting Median Salary"].idxmax()


max_starting_salary = clean_dt["Starting Median Salary"][value]
print(max_starting_salary)

# entire row to get the location value
clean_dt.loc[value]

74300.0

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [ ]:
# Questions
## Now that we've found the major with the highest starting salary, can you write the code to find the following:

 ### What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

### Which college major has the lowest starting salary and how much do graduates earn after university?

### Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [3]:
### Question 1
max_mid_career_salary = clean_dt["Mid-Career Median Salary"].max()
row_value = clean_dt[clean_dt['Mid-Career Median Salary']== max_mid_career_salary]
row_value["Undergraduate Major"]


### Question 2
lowest_starting_salary= clean_dt['Starting Median Salary'].min()
row_value =clean_dt[clean_dt["Starting Median Salary"]==lowest_starting_salary]

row_value["Undergraduate Major"]

###  Question 3:
min_mid_career_salary = clean_dt["Mid-Career Median Salary"].min()
row_value = clean_dt[clean_dt['Mid-Career Median Salary']== min_mid_career_salary]
major = row_value["Undergraduate Major"]
print(f" Lowest Paying undergraduate Major:{major}")
print(f" Lowest Paying undergraduate Major salary:{min_mid_career_salary}")

 Lowest Paying undergraduate Major:18    Education
47     Religion
Name: Undergraduate Major, dtype: object
 Lowest Paying undergraduate Major salary:52000.0

In [10]:
### Caluclate the difference between differnt values. E.g. How would we calculate the difference between the earnings of the 10th a 90th percentile?


spread_col = clean_dt["Mid-Career 90th Percentile Salary"]- clean_dt["Mid-Career 10th Percentile Salary"]
clean_dt.insert(1, "Spread", spread_col)
print(clean_dt.head())

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business