In [25]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
dt= pd.read_csv("Dataset_salaries_by_college_major.csv")
dt.head()
dt.shape
dt.columns
dt.isna()
dt.tail()
clean_dt= dt.dropna()
clean_dt.tail()
clean_dt["Starting Median Salary"]
clean_dt["Starting Median Salary"].max()
value = clean_dt["Starting Median Salary"].idxmax()


max_starting_salary = clean_dt["Starting Median Salary"][value]
print(max_starting_salary)

# entire row to get the location value
clean_dt.loc[value]

74300.0

Undergraduate Major                  Physician Assistant
Starting Median Salary                         74,300.00
Mid-Career Median Salary                       91,700.00
Mid-Career 10th Percentile Salary              66,400.00
Mid-Career 90th Percentile Salary             124,000.00
Group                                               STEM
Name: 43, dtype: object

In [4]:
# Questions
## Now that we've found the major with the highest starting salary, can you write the code to find the following:

 ### What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

### Which college major has the lowest starting salary and how much do graduates earn after university?

### Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [9]:
### Question 1
max_mid_career_salary = clean_dt["Mid-Career Median Salary"].max()
row_value = clean_dt[clean_dt['Mid-Career Median Salary']== max_mid_career_salary]
row_value["Undergraduate Major"]


### Question 2
lowest_starting_salary= clean_dt['Starting Median Salary'].min()
row_value =clean_dt[clean_dt["Starting Median Salary"]==lowest_starting_salary]

row_value["Undergraduate Major"]

###  Question 3:
min_mid_career_salary = clean_dt["Mid-Career Median Salary"].min()
row_value = clean_dt[clean_dt['Mid-Career Median Salary']== min_mid_career_salary]
major = row_value["Undergraduate Major"]
print(f" Lowest Paying undergraduate Major:{major}")
print(f" Lowest Paying undergraduate Major salary:{min_mid_career_salary}")

 Lowest Paying undergraduate Major:18    Education
47     Religion
Name: Undergraduate Major, dtype: object
 Lowest Paying undergraduate Major salary:52000.0

In [27]:
### Calculate the difference between differnt values. E.g. How would we calculate the difference between the earnings of the 10th a 90th percentile?


spread_col = clean_dt["Mid-Career 90th Percentile Salary"]- clean_dt["Mid-Career 10th Percentile Salary"]
clean_dt.insert(1, "Spread", spread_col)
print(clean_dt.head())

     Undergraduate Major     Spread  Starting Median Salary  \
0             Accounting 109,800.00               46,000.00
1  Aerospace Engineering  96,700.00               57,700.00
2            Agriculture 113,700.00               42,600.00
3           Anthropology 104,200.00               36,800.00
4           Architecture  85,400.00               41,600.00

   Mid-Career Median Salary  Mid-Career 10th Percentile Salary  \
0                 77,100.00                          42,200.00
1                101,000.00                          64,300.00
2                 71,900.00                          36,300.00
3                 61,500.00                          33,800.00
4                 76,800.00                          50,600.00

   Mid-Career 90th Percentile Salary     Group
0                         152,000.00  Business
1                         161,000.00      STEM
2                         150,000.00  Business
3                         138,000.00      HASS
4                         136,000.00  Business

In [28]:
# Sorting the Spread column
### Low risk sectors are the ones where there is low spread
low_risk =clean_dt.sort_values("Spread")
low_risk[["Undergraduate Major" , "Spread"]]

                     Undergraduate Major     Spread
40                               Nursing  50,700.00
43                   Physician Assistant  57,600.00
41                             Nutrition  65,300.00
49                               Spanish  65,400.00
27            Health Care Administration  66,400.00
47                              Religion  66,700.00
23                              Forestry  70,000.00
32                       Interior Design  71,300.00
18                             Education  72,700.00
15                      Criminal Justice  74,800.00
26                        Graphic Design  76,000.00
31           Information Technology (IT)  84,500.00
10                     Civil Engineering  84,600.00
4                           Architecture  85,400.00
48                             Sociology  87,300.00
29                 Hospitality & Tourism  88,500.00
24                             Geography  92,000.00
46                            Psychology  95,400.00
12                  Computer Engineering  95,900.00
5                            Art History  96,200.00
1                  Aerospace Engineering  96,700.00
13                      Computer Science  98,000.00
6                                Biology  98,100.00
19                Electrical Engineering  98,700.00
38                Mechanical Engineering  99,300.00
20                               English  99,600.00
35  Management Information Systems (MIS) 100,700.00
21                                  Film 102,100.00
9                              Chemistry 102,700.00
3                           Anthropology 104,200.00
11                        Communications 105,500.00
34                            Journalism 106,600.00
39                                 Music 107,300.00
7                    Business Management 108,200.00
0                             Accounting 109,800.00
25                               Geology 111,000.00
28                               History 112,000.00
2                            Agriculture 113,700.00
14                          Construction 114,700.00
30                Industrial Engineering 115,900.00
16                                 Drama 116,300.00
33               International Relations 118,800.00
44                               Physics 122,000.00
8                   Chemical Engineering 122,100.00
45                     Political Science 126,800.00
42                            Philosophy 132,500.00
36                             Marketing 132,900.00
37                                  Math 137,800.00
22                               Finance 147,800.00
17                             Economics 159,400.00

In [29]:
##Challenge


### Question 1: Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile.
### Question 2:  Also, find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [30]:
### Question 1:
highest_potential = clean_dt.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_potential[["Undergraduate Major" , "Mid-Career 90th Percentile Salary"]]

## Question 2:
largest_opportunity= clean_dt.sort_values("Spread", ascending=False)
highest_potential[["Undergraduate Major" , "Spread"]]

                     Undergraduate Major     Spread
17                             Economics 159,400.00
22                               Finance 147,800.00
8                   Chemical Engineering 122,100.00
37                                  Math 137,800.00
44                               Physics 122,000.00
36                             Marketing 132,900.00
30                Industrial Engineering 115,900.00
14                          Construction 114,700.00
42                            Philosophy 132,500.00
19                Electrical Engineering  98,700.00
45                     Political Science 126,800.00
38                Mechanical Engineering  99,300.00
12                  Computer Engineering  95,900.00
1                  Aerospace Engineering  96,700.00
33               International Relations 118,800.00
25                               Geology 111,000.00
13                      Computer Science  98,000.00
16                                 Drama 116,300.00
0                             Accounting 109,800.00
2                            Agriculture 113,700.00
28                               History 112,000.00
9                              Chemistry 102,700.00
10                     Civil Engineering  84,600.00
7                    Business Management 108,200.00
35  Management Information Systems (MIS) 100,700.00
34                            Journalism 106,600.00
11                        Communications 105,500.00
3                           Anthropology 104,200.00
21                                  Film 102,100.00
4                           Architecture  85,400.00
6                                Biology  98,100.00
39                                 Music 107,300.00
20                               English  99,600.00
24                             Geography  92,000.00
31           Information Technology (IT)  84,500.00
46                            Psychology  95,400.00
5                            Art History  96,200.00
43                   Physician Assistant  57,600.00
29                 Hospitality & Tourism  88,500.00
48                             Sociology  87,300.00
26                        Graphic Design  76,000.00
23                              Forestry  70,000.00
15                      Criminal Justice  74,800.00
32                       Interior Design  71,300.00
18                             Education  72,700.00
27            Health Care Administration  66,400.00
41                             Nutrition  65,300.00
40                               Nursing  50,700.00
47                              Religion  66,700.00
49                               Spanish  65,400.00

In [39]:
clean_dt.groupby("Group").count()

### Find the average salary by Group:
    ### For all the groups where mean can be found
clean_dt.groupby("Group").mean(numeric_only=True)

    ### For a spcific column
clean_dt.groupby("Group")[[ "Spread" , "Starting Median Salary"]].mean()

filtered = clean_dt[
    (clean_dt["Undergraduate Major"] == "Construction") &
    (clean_dt["Spread"] == 114700.00)
]
print(filtered)

   Undergraduate Major     Spread  Starting Median Salary  \
14        Construction 114,700.00               53,700.00

    Mid-Career Median Salary  Mid-Career 10th Percentile Salary  \
14                 88,900.00                          56,300.00

    Mid-Career 90th Percentile Salary     Group
14                         171,000.00  Business

In [ ]:
#Today's Learning Points



### Use .head(), .tail(), .shape and .columns to explore your DataFrame and find out the number of rows and columns as well as the column names.

### Look for NaN (not a number) values with .findna() and consider using .dropna() to clean up your DataFrame.

### You can access entire columns of a DataFrame using the square bracket notation: df['column name'] or df[['column name 1', 'column name 2', 'column name 3']]

### You can access individual cells in a DataFrame by chaining square brackets df['column name'][index] or using df['column name'].loc[index]

### The largest and smallest values, as well as their positions, can be found with methods like .max(), .min(), .idxmax() and .idxmin()

### You can sort the DataFrame with .sort_values() and add new columns with .insert()

### To create an Excel Style Pivot Table by grouping entries that belong to a particular category use the .groupby() method